<div class="card shadow mb-4 mt-2">
  <div class="card-header py-3">
    <a
      href="https://eki-admin-staycation.herokuapp.com/admin/booking"
      class="btn btn-warning shadow-sm"
      ><i class="fas fa-arrow-left"></i> BACK</a
    >
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <img
          src="https://eki-admin-staycation.herokuapp.com/<%= booking.payments.proofPayment %>"
          alt="item image"
          width="350px"
          class="img-fluid"
        />
        <% if(booking.payments.status == "Proses"){%>
        <div class="row mt-5 ml-2">
          <form
            action="/admin/booking/<%= booking.id%>/confirm?_method=PUT"
            method="POST"
          >
            <button type="submit" class="btn btn-success shadow rounded btn-sm">
              <i class="fa fa-check"></i>
              CONFIRMATION
            </button>
          </form>
          <form
            action="/admin/booking/<%= booking.id%>/reject?_method=PUT"
            method="POST"
            class="ml-4"
          >
            <button type="submit" class="btn btn-danger shadow rounded btn-sm">
              <i class="fa fa-times"></i>
              REJECT
            </button>
          </form>
        </div>
        <%} %>
      </div>
      <div class="col-md-8">
        <div class="table-responsive">
          <table
            class="table table-bordered"
            id="mydatatable"
            width="100%"
            cellspacing="0"
          >
            <thead>
              <tr>
                <th>Member Name</th>
                <th>Total</th>
                <th>Bank From</th>
                <th>Title</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <%= booking.memberId.firstName%> <%=
                  booking.memberId.lastName%>
                </td>
                <td>$ <%= booking.total%></td>
                <td><%= booking.payments.bankFrom%></td>
                <td><%= booking.itemId.title%></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
